<div id='footer'>
    <div class='container'>
        <div class='row'>
            <div class='col-lg-4 col-md-4 col-sm-12'>
                All Rights Reserved.
            </div>
            <div class='col-lg-4 col-md-4 col-sm-12' style='text-align:center;'>
                <i class="fa fa-facebook-official fa-lg" aria-hidden="true" style='cursor:pointer;'></i>
                <i class="fa fa-twitter-square fa-lg" aria-hidden="true" style='cursor:pointer;'></i>
                <i class="fa fa-google-plus-official fa-lg" aria-hidden="true" style='cursor:pointer;'></i>
                <i class="fa fa-instagram fa-lg" aria-hidden="true" style='cursor:pointer;'></i>
            </div>
            <div class='col-lg-4 col-md-4 col-sm-12'>
                <span style='float:right;'>Developed By Qbit.</span>
            </div>
        </div>
    </div>
</div>